@import '~bootstrap/scss/bootstrap';

body {
  background-color: #26272C !important;
  color: #fbf7f1 !important;
}

input {
  background-color: #26272C !important;
  color: #fbf7f1 !important;

  & .is-valid {
    border-color: #777 !important;
  }
}

.list-group-item {
  background-color: #26272C !important;
  border-color: #777 !important;
}
